Client_stary/Service References/ClientServiceReference/Usluga.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Usluga" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2989/OldService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2989/OldService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2989/OldService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_stara_nowa_usluga" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsluga_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="IUsluga_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IUsluga_GetClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClient" />
  </wsdl:message>
  <wsdl:message name="IUsluga_GetClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientResponse" />
  </wsdl:message>
  <wsdl:message name="IUsluga_AddClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClient" />
  </wsdl:message>
  <wsdl:message name="IUsluga_AddClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClientResponse" />
  </wsdl:message>
  <wsdl:message name="IUsluga_ModifyClient_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyClient" />
  </wsdl:message>
  <wsdl:message name="IUsluga_ModifyClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyClientResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsluga">
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsluga/GetClients" message="tns:IUsluga_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsluga/GetClientsResponse" message="tns:IUsluga_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsluga/GetClient" message="tns:IUsluga_GetClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsluga/GetClientResponse" message="tns:IUsluga_GetClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsluga/AddClient" message="tns:IUsluga_AddClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsluga/AddClientResponse" message="tns:IUsluga_AddClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsluga/ModifyClient" message="tns:IUsluga_ModifyClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsluga/ModifyClientResponse" message="tns:IUsluga_ModifyClient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsluga" type="tns:IUsluga">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tempuri.org/IUsluga/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <soap:operation soapAction="http://tempuri.org/IUsluga/GetClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <soap:operation soapAction="http://tempuri.org/IUsluga/AddClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyClient">
      <soap:operation soapAction="http://tempuri.org/IUsluga/ModifyClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Usluga">
    <wsdl:port name="BasicHttpBinding_IUsluga" binding="tns:BasicHttpBinding_IUsluga">
      <soap:address location="http://localhost:2989/OldService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>